/* ------------------------------------------------------------------------
 * Forms
 * ------------------------------------------------------------------------ */

.form-group {
  &.has-errors {
    > .form-control {
      background: lighten(@brand-danger, 32%);
      .transition(background-color 0.3s ease-in);
      &.has-visited {
        background: lighten(red, 44%);
        .transition(background .25s ease-in-out);
      }
    }
  }
}

.tl-form {
    .placeholder(rgba(0, 0, 0, .25));
    i.fa {
        color: @brand-primary;
        margin-right: 5px;
    }
    label {
        color: #3f3f3f;
        margin: 5px 3px;
        font-weight: 400 !important;
        .gotham-book;
    }
    input, textarea, .form-control, .dropdown {
        border-radius: 0;
        .box-shadow(0px 5px 0px 0px #f7f6f4);
        .gotham-book;
        font-weight: 300;
        border: 3px solid rgb(240, 240, 240);
    }
    // aka <input>
    .form-control {
        height: 50px;
        color: #686463;
        &:active, &:focus {
            border-color: #BEE2FF;
            .box-shadow(0 5px 0 0 #f7f6f4);
        }
    }
    textarea.form-control {
        min-height: 200px;
        line-height: 30px;
    }
    .form-group {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .left-half, .right-half {
        width: 48%;
        display: inline;
    }
    .left-half {
        float: left;
        padding-right: 0;
    }
    .right-half {
        float: right;
        padding-left: 0;
    }
    .loading {
        color: #777;
        font-style: italic;
        .serif;
        &:before, &:after {
            box-shadow: 0 0 50px #5E5E5E, inset 0 0 50px #FFF;
        }
    }
    // button {
    // 	.tl-button;
    // }
    .alert {
        .tl-alert;
    }
}

.tl-alert {
    // Inline form feedback
    &.alert {
        margin-top: 10px;
        color: #000;
    }
    &.alert.error, &.alert.warning {
        background-color: #f2dede;
    }
    &.alert.success {
        background-color: #dff0d8;
    }
    &.alert.info {
        background-color: #d9edf7;
    }
}
@media (max-width: 767px) {
    .tl-form {
        margin: 15px;
        .left-half, .right-half {
            width: 100%;
            display: block;
            &.signup {
                padding-right: 15px;
                padding-left: 15px;
            }
        }
    }
}
