<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header">
        <h1>Drop Downs</h1>
      </div>
    </div>
  </div>
  <div id="dropdowns" class="row">
    <div class="col-md-4">
      <div class="dropdown drodown-default">
        <button class="btn btn-default btn-block" type="button" data-toggle="dropdown">
          Dropdown Default
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
        <ul class="dropdown-menu btn-block">
          <li>
            <a href="#">Item 1</a>
          </li>
          <li>
            <a href="#">Item 2</a>
          </li>
          <li>
            <a href="#">Item 3</a>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <div class="dropdown drodown-primary">
        <button class="btn btn-primary btn-block" type="button" data-toggle="dropdown">
          Dropdown Primary
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
        <ul class="dropdown-menu btn-block">
          <li>
            <a href="#">Item 1</a>
          </li>
          <li>
            <a href="#">Item 2</a>
          </li>
          <li>
            <a href="#">Item 3</a>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <div class="dropdown dropdown-round drodown-gray">
        <button class="btn btn-default btn-round btn-block" type="button" data-toggle="dropdown">
          Dropdown Round
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
        <ul class="dropdown-menu btn-block">
          <li>
            <a href="#">Item 1</a>
          </li>
          <li>
            <a href="#">Item 2</a>
          </li>
          <li>
            <a href="#">Item 3</a>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <div class="dropdown dropdown-round dropdown-round-inverse drodown-gray">
        <button class="btn btn-default btn-round btn-block" type="button" data-toggle="dropdown">
          Dropdown Round Inverse
          <i class="fa fa-chevron-down pull-right"></i>
        </button>
        <ul class="dropdown-menu btn-block">
          <li>
            <a href="#">Item 1</a>
          </li>
          <li>
            <a href="#">Item 2</a>
          </li>
          <li class="divider">
          </li>
          <li>
            <a href="#">Item 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
