/* ------------------------------------------------------------------------
 * Components
 * ------------------------------------------------------------------------ */

 /* ---- Themes ---- */
 // body.light-theme {

 // }


/* ---- Navbar ---- */
.navbar-nav {
  > li {
    > a {
      padding: 22px 15px 20px;
      &.active {
        color: white;
      }
    }
  }
}
.navbar-inverse {
  background: fade(@gray-darker, 98%);

  .navbar-toggle {
    background: @tl-white;
    color: @gray-dark;
    opacity: .5;
  }
}
.navbar-border {
  border-bottom: 5px solid black;

  .navbar-nav {
    > li {
      > .dropdown-menu {
        margin-top: 4px;
      }

      > a {

      }
    }
  }
}
.navbar-brand {
  height: auto;
  padding: 21px 15px;
}

/* ---- Blocks ---- */
.block {
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 5px 0 0 #f7f6f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 0;
  .clearfix;
}
.block-default {
  border-color: lighten(@gray-lighter, 5%);
}
.block-inline {
  display: inline-block;
}
.block-sm {
  padding: 5px;
}
.block-lg {
  padding: 20px;
}
.block-cells {
  padding: 0;
  > .cell {
    padding: 10px;
    border-left: 1px solid @gray-lighter;
  }
}
.block-hover {
  &:hover {
    background: lighten(@gray-lighter, 3%);
  }
}

/* ---- Forms ---- */
.form-group {
  &.has-errors {
    > .form-control {
      background: lighten(@brand-danger, 32%);
      .transition(background-color 0.3s ease-in);
      &.has-visited {
        background: lighten(red, 44%);
        .transition(background .25s ease-in-out);
      }
    }
  }
  input[type=number] {
    padding: 0px 12px;
  }
}

// .form-group-no-spinners {
//   input[type=number]:: -webkit-inner-spin-button, input[type=number]: : -webkit-outer-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }
// }

.form-control {
  padding: 0 12px;
  font-size: @font-size-large;
  height: 50px;
}
